<script src="{{ 'app.js' | asset_url }}" defer="defer"></script>
{{ 'app.css' | asset_url | stylesheet_tag: preload: true }}

<div id="app" data-customer-id="{{ customer.id }}"></div>

{% schema %}
{
  "name": "Svelte App",
  "presets": [
    {
      "name": "Svelte App"
    }
  ]
}
{% endschema %}
